<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>declaration</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.DeclarationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>declaration</servlet-name>
		<url-pattern>/declaration/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>hierarchy</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.HierarchyServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>hierarchy</servlet-name>
		<url-pattern>/hierarchy/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>completion</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.CompletionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>completion</servlet-name>
		<url-pattern>/completion/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>jarparser</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.JarParserServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jarparser</servlet-name>
		<url-pattern>/jarparser/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>outline</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.OutlineServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>outline</servlet-name>
		<url-pattern>/outline/*</url-pattern>
	</servlet-mapping>
</web-app>